/* You can add global styles to this file, and also import other style files */
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  border: solid 1px white;
  margin-top: 1em;
  padding: 1em;
  width: 80%;
}

.textlink-container {
  margin-top: 1em;
}

.text-link {
  margin-top: 1em;
}
